<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark-trans">
    <div class="container">
     <a class="navbar-brand bariflo-logo d-flex justify-content-center" href="">
       <img src="./assets/img/Asset2.png" alt="logo" class="d-inline-block" width="62px" height="62px">
       <span class="display-5  fw-bold  text-primary " >Bariflo Labs</span>
     </a>
    </div>
 </nav>
    <section class="container-fluid text-center " style="height: 100vh;background:url('./assets/img/device.jpg') no-repeat center; opacity: 1;">
         
        <div class="d-flex flex-column justify-content-center align-items-center h-100 ">
          <div class="card bg-dark">
            <div class="card-body">
        <h2 class="display-4 pb-4 text-white fw-bold ">Let's Break The Barrier</h2>
      
        <a href="register" class="btn btn-primary btn-lg mb-4" role="button">Get Started</a>
      </div>
      </div>
        </div>
    </section>