name: Deploy to AWS EC2

on:
  push:
    branches:["main"]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18'

      - name: Install Angular CLI
        run: npm install -g @angular/cli

      - name: Install app dependencies
        run: npm install

      - name: Build Angular app
        run: ng build

